.jumbotron {
    background-color: #6DCF87;
    margin:0;
}

h1 {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
    font-family: 'Lobster', cursive;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
#uploadPrescription {
    background-color: rgba(109, 207, 135, 0.5);
}

.modal-header {
    background-color:#6DCF87;
}

.modal-header h3 {
    color: white;
}